# Used in M1
NODE_ENV=development
PORT=3001

# Reserved for later milestones
FRONTEND_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=
VAULT_URL=
VAULT_TOKEN=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
AWS_REGION=
ECR_REGISTRY=
S3_BUCKET_SOURCE=
GITHUB_TOKEN=
INTERNAL_API_TOKEN=
